{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dev Nycolas: Bem-Vindo</title>

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}" />

        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

        <!-- Fontawesome Link for Icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">


        <!-- all css here -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet" type="text/css" />

    </head>
    <body>

        <nav>
            <div class="nav-container">
                <div class="left-button">
                    <button class="hamburger-btn">&#9776;</button>
                </div>
                <div class="right-buttons">
                    <button class="register-btn">Cadastre-se</button>
                    <button class="login-btn">Acesse sua conta</button>
                </div>
            </div>
        </nav>

        <div class="sidebar-menu">
            <div class="close-sidebar-btn">&times;</div>
            <h2 class="title-sidebar"><a href="#home-section">DEV NYCOLAS</a></h2>
            <ul class="text-ul-sidebar">
                <li><a href="#home-section">Home</a></li>
                <li><a href="#about-section">Sobre mim</a></li>
                <li><a href="#projetos-section">Projetos</a></li>
            </ul>
        </div>


        <section class="initial-apresentation" id="home-section">
            <div class="container-apresentation">

                <img src="{% static 'img/logo.png' %}" alt="Image Apresentation" class="apresentation-image">

                <h2 class="title-apresentation"><span class="purple-text">Apaixonado</span> por tecnologia e programação</h2>

                <div class="text-apresentation">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </div>

            </div>
        </section>

        <section class="about-me" id="about-section">
            <div class="container-about">

                <img src="{% static 'img/profile.jpeg' %}" alt="Minha Foto" class="profile-image">
                <h2 class="title-about"><span class="about-text-decoration">Mais</span> Sobre Mim</h2>

                <div class="text-about-me">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </div>
                
            </div>
        </section>

        <section class="initial-projetos">
            <div class="container-projetos">

                
                <h2 class="title-projetos">Acompanhe meus <span class="purple-text">Projetos</span></h2>
                

                <div class="conteudo-projetos">

                    <img src="{% static 'img/coding1.png' %}" alt="Image Projeto" class="projetos-image">

                    <div class="text-projetos">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </div>
                </div>

            </div>
        </section>

        <section class="initial-carrossel-projetos" id="projetos-section">
            <div class="container-carrossel-projetos">

                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="owl-carousel slider_carousel">
                                <div class="card_box">
                                    <img class="card_img" src="{% static 'img/image04.jpg' %}" alt="">
                                    <div class="card_text">
                                        <h4>Projeto: 1</h4>
                                        <p>Descrição do projeto</p>
                                    </div>
                                </div>
                                <div class="card_box">
                                    <img class="card_img" src="{% static 'img/image06.jpg' %}" alt="">
                                    <div class="card_text">
                                        <h4>Projeto: 2</h4>
                                        <p>Descrição do projeto</p>
                                    </div>
                                </div>
                                <div class="card_box">
                                    <img class="card_img" src="{% static 'img/image07.jpg' %}" alt="">
                                    <div class="card_text">
                                        <h4>Projeto: 3</h4>
                                        <p>Descrição do projeto</p>
                                    </div>
                                </div>
                                <div class="card_box">
                                    <img class="card_img" src="{% static 'img/image08.jpg' %}" alt="">
                                    <div class="card_text">
                                        <h4>Projeto: 4</h4>
                                        <p>Descrição do projeto</p>
                                    </div>
                                </div>
                                <div class="card_box">
                                    <img class="card_img" src="{% static 'img/image09.jpg' %}" alt="">
                                    <div class="card_text">
                                        <h4>Projeto: 5</h4>
                                        <p>Descrição do projeto</p>
                                    </div>
                                </div>
                                <div class="card_box">
                                    <img class="card_img" src="{% static 'img/image03.jpg' %}" alt="">
                                    <div class="card_text">
                                        <h4>Projeto: 6</h4>
                                        <p>Descrição do projeto</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <footer>
            <div class="footer-area">

                <div class="elementor-divider-separator"></div>

                <h2 class="title-footer">DEV NYCOLAS</h2>

                <div class="copyright">© 2023 - Todos os direitos <br> reservados. <br> Dev Nycolas</div>

                <div class="contact-info">
                    <strong class="color-strong-footer">Precisa de ajuda?</strong> <br>
                    dev.nycolas@outlook.com <br>
                    Termos de uso <br>
                    Política de privacidade
                </div>

                <div class="created-by">
                    <strong class="color-strong-footer">Developer | Programação</strong> <br>
                    Criado com ❤ por Nycolas B. Nascimento
                </div>

                <div class="social-icons-footer">
                    <a href="https://www.linkedin.com/in/nycolas-brito/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/imnycolas_/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </footer>

        <!-- all js here -->
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script>
            
            function slider_carouselInit() {
                $('.owl-carousel.slider_carousel').owlCarousel({
                    dots: false,
                    loop: true,
                    stagePadding: 2,
                    autoplay: true,
                    nav: true,
                    navText: ["<i class='fa-solid fa-chevron-left'></i>","<i class='fa-solid fa-chevron-right'></i>"],
                    autoplayTimeout: 2500,
                    autoplayHoverPause: true,
                    responsive: {
                        0: {
                            items: 1,
                            margin: 10,
                        },
                        768: {
                            items: 2,
                            margin: 20,
                        },
                        992: {
                            items: 3,
                            margin: 30,
                        }
                    }
                });
            }
            slider_carouselInit();

        </script>

    </body>
</html>


